scikit-learn     # For building and evaluating ML models
xgboost          # Gradient boosting for structured/tabular data
nltk             # Text processing and NLP
pandas           # Data manipulation with DataFrames
numpy==1.24.4    

dvc              # Versioning datasets and models
dagshub          # DVC + MLflow integration
mlflow    # Model tracking and reproducible ML workflows

PyYAML           # YAML parsing (used by DVC)
ipykernel        # Run Jupyter notebooks

protobuf
google-api-python-client

-e .             # Local editable install of your project
